run = "npm start"
entrypoint = "main.sh"

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 46492039
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
